target/
bin/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
nbactions.xml
.idea
.vscode
*.iml
*.bak
property
.factorypath
more
3.0.0

#IDE configs
**/.settings
**/.classpath
**/.project
nb-configuration.xml
/EquipmentManagement/nbproject/
/JavaProject1/nbproject/private/
/Common/nbproject/
/Search/nbproject/
/debug.log
/scripts/mongo/mongoLocalSeed_catalog.cmd
/package-lock.json
